<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- Custom Styling  -->
    <link rel="stylesheet" href="/styles/header.css">
    <title>DeBlogger</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo-text"><span>DeBlogger</span></h1>
        </div>
        <i class="fa-solid fa-bars menu-toggle"></i>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <!-- <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li> -->


            <li><a href="#"><i class="fa-solid fa-user"></i>John Doe</a></li>
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li ><a href="#" class="logout">Logout</a></li>
                </ul>   
        </ul>
    </header>
</body>
</html>