<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeBlogger</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
        
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    
    <!-- Custom Css -->
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">

<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="wrapper">
            <div class="card-list">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae saepe dicta blanditiis obcaecati quibusdam fuga commodi enim aspernatur voluptatum facilis. Nulla sit minus delectus ex sunt quas modi recusandae sequi!</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae saepe dicta blanditiis obcaecati quibusdam fuga commodi enim aspernatur voluptatum facilis. Nulla sit minus delectus ex sunt quas modi recusandae sequi!</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae saepe dicta blanditiis obcaecati quibusdam fuga commodi enim aspernatur voluptatum facilis. Nulla sit minus delectus ex sunt quas modi recusandae sequi!</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae saepe dicta blanditiis obcaecati quibusdam fuga commodi enim aspernatur voluptatum facilis. Nulla sit minus delectus ex sunt quas modi recusandae sequi!</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae saepe dicta blanditiis obcaecati quibusdam fuga commodi enim aspernatur voluptatum facilis. Nulla sit minus delectus ex sunt quas modi recusandae sequi!</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Slick Carousel + Custom Js -->
    <script src="/main.js"></script>
</body>
</html>