<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeBlug</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.
css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
    
    <!-- Custom Css -->
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
    <div class="logo">
        <h1 class="logo-text"><a href="#"><span>De</span>Blug</a></h1>
    </div>
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Write</a></li>
        <li><a href="/sign_log">Sign in</a></li>
        <button class="sign-up"><a href="/sign_log">Get Started</a></button>

               
    </ul>
</header>

<div class="hero">
    <div class="hero-text"></div>
    <div class="hero-image">
        <img src="/images/Background-Image.png" alt="">
    </div>
</div>


<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--Custom Js -->
<script src="/main.js"></script>
</body>
</html>