<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeBlug</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.
css">

    <!-- Swiper Css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
        
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/logged-in.css">

<body>
    <%- include('partials/header.ejs') %>
    <h1 class="Post-h1">Trending Posts</h1>
    <div class="container swiper">       
        <div class="wrapper">
            <div class="card-list swiper-wrapper">
                <div class="card swiper-slide  ">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae soluta consectetur.</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae soluta consectetur.</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae soluta consectetur.</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae soluta consectetur.</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card-image">
                        <img src="/images/image_1.jpg" alt="Development">
                        <p class="card-tag">Development</p>
                    </div>

                    <div class="card-content">
                        <h3 class="card-title">Best Frontend Frameworks</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae soluta consectetur.</p>
                        
                        <div class="card-footer">
                            <div class="card-profile">
                                <img src="/images/image_1.jpg" alt="John Doe">
                                
                                <div class="card-profile-info">
                                    <span class="card-profile-name">John Doe</span>
                                    <span class="card-profile-role">Developer</span>
                                </div>
                            </div>
                            <a href="#" class="card-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Slider Js -->
     
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <!--Custom Js -->
    <script src="/main.js"></script>
</body>
</html>