<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post | DeBlug</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/styles/post-form.css">
</head>
<body>
    <div id="post_form">

        <form action="/posts" method="POST">

            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" id="title" name="title" placeholder="Enter your post title" required>
            </div>
        
            <div class="form-group">
                <label for="content">Post Content</label>
                <textarea name="content" id="content" placeholder="Type here" required></textarea>
            </div>

            <button type="submit">Submit Post</button>

        </form>

    </div>
   
    
</body>
</html>