*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

/* HEADER SECTION */
header{
    height: 66px;
    background-color: #A99985;
}

header *{
    color: #252323;
}

/* LOGO */
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 8px 8px 0px 8px;
    font-family: 'Candal', serif;
}

header .logo-text a{
    text-decoration: none;
}

header .logo-text span{
    color: #DAD2BC;
}

/* NAVBAR SECTION */
header ul{
    float: right;
    list-style: none;
    font-weight: 600;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: scale(1.1);
    color: #DAD2BC;
}

/* NAV USER DROP-DOWN */
header ul li .user-link:hover{
    transform: none;
    background: #DAD2BC;
    color: black;
}

.fa-chevron-up {
    transition: transform 0.5s ease;
}

header ul li:hover .fa-chevron-up {
    transform: rotate(180deg);
}

header ul li ul{
    position: absolute;
    background: #DAD2BC;
    top: 101%;       
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.151) 0 0 0 1px, rgba(0, 0, 0, 0.174) 0 15px 30px 0px;
    display: none;

}

header ul li:hover ul{
    display: block;
    z-index: 100;
}

header ul li ul li{
    width: 100%;
    background-color: #A99985;
}

header ul li ul li:hover{
    background: #DAD2BC;
}

header ul li ul li:hover a{
    color: white;
}

header ul li ul li a{
    padding: 10px;
    color: #252323;
}
header ul li ul li a.logout{
    color: red;
}

.fa-person-to-portal{
    height: 20px;
    width: 20px;
}
header ul li ul li a:hover{
    transform: none;
}

/* NAVBAR HAMBURGER */
header .menu-toggle{
    display: none;
}


/* MEDIA QUERY FOR SMALLER SCREENS */

@media only screen and (max-width: 750px){
/* HEADER SECTION */
header{
    position: relative;
}
  
header .logo{
    margin-left: .7em;
}

header .logo-text{
    font-size: 1.9rem;
}

header .menu-toggle{
    display: block;
    float: right;
    position: absolute;
    right: 20px;
    top: 1.25rem;
    font-size: 1.6em;
    cursor: pointer;
    z-index: 1001;
    transition: 0.3s ease;
}

header ul{
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    display: none;
    background: #DAD2BC;
    z-index: 100;
}

header ul.active{
    display: block;
}

header ul li{
    width: 100%;
    float: none;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: none;
    color: #a99985d8;
}

header ul li:hover ul{
    display: none;
}
header ul li:hover .fa-chevron-up {
    transform: none;
}

header ul li ul li a{
    padding: 10px;
    padding-left: 50px;
}

.user-list .drop-down.open{
    display: block;
    position: absolute;
    top: 100%;
}

header ul li:hover .fa-chevron-up.down{
     transform: rotate(180deg);
}

}