*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body{
    font-family: sans-serif;
}

/* Header */
header{
    height: 66px;
    background-color: #A99985;
}

header *{
    color: #252323;
}

/* Logo */
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 8px 8px 0px 8px;
    font-family: 'Candal', serif;
}

header .logo-text a{
    text-decoration: none;
}

header .logo-text span{
    color: #DAD2BC;
}

/* Navbar */
header ul{
    float: right;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: scale(1.1);
    color: #DAD2BC;
}

/* Nav User Drop-down */
header ul li .user-link:hover{
    transform: none;
    background: #DAD2BC;
    color: black;
}

.fa-chevron-up {
    transition: transform 0.5s ease;
}

header ul li:hover .fa-chevron-up {
    transform: rotate(180deg);
}

header ul li ul{
    position: absolute;
    background: #A99985;
    top: 101%;       
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.151) 0 0 0 1px, rgba(0, 0, 0, 0.174) 0 15px 30px 0px;
    /* border-radius: 5px; */
    display: none;

}
/* header ul li ul:hover{
    border-top: 1px solid #3D405B;
} */


header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li:hover{
    background:  #DAD2BC;
}

header ul li ul li:hover a{
    color: white;
}

header ul li ul li a{
    padding: 10px;
    color: white;
}
header ul li ul li a.logout{
    color: red;
}

.fa-person-to-portal{
    height: 20px;
    width: 20px;
}

header ul li ul li a:hover{
    transform: none;
}

/* Navbar Menu */
header .menu-toggle{
    display: none;
}


    /* MEDIA QUERIES*/

@media only screen and (max-width: 750px){
/* Header */
header{
    position: relative;
}
  
header .logo{
    margin-left: .7em;
}

header .logo-text{
    font-size: 1.9rem;
}

header .menu-toggle{
    display: block;
    float: right;
    position: absolute;
    right: 20px;
    top: 1.25rem;
    font-size: 1.6em;
}

header .nav{
    width: 100%;
    display:none;

}

header .nav.active{
    display: block;
}

header ul li{
    width: 100%;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: none;
    color: #a99985d8;
}

header ul li:hover ul{
    display: none;
}
header ul li:hover .fa-chevron-up {
    transform: none;
}

header ul li ul li a{
    padding: 10px;
    padding-left: 50px;
}

.user-list .drop-down.open{
    display: block;
}

header ul li:hover .fa-chevron-up.down{
     transform: rotate(180deg);
}

}