*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body{
    font-family: "inter", sans-serif;
    background-color: #F5F1ED; 
}

/* HEADER SECTION */
header{
    height: 66px;
}

header *{
    color: #252323;
}

/* LOGO */
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 8px 8px 0px 8px;
    font-family: 'Candal', serif;
}

header .logo-text a{
    text-decoration: none;
}

header .logo-text span{
    color: #A99985;
}

/* NAVBAR SECTION */
header ul{
    float: right;
    list-style: none;
    font-weight: 600;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: scale(1.1);
    color: #A99985;
}

.sign-up {
    background: #70798c7a;
    border: none;
    border-radius: 50px;
    padding:  10px 15px; 
    cursor: pointer;
    display: inline-block;
    margin: 15px 65px 15px 15px ;
}

.sign-up a {
    color: #fff;
    text-decoration: none; 
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.sign-up:hover {
    background: #70798c49;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERY FOR SMALLER SCREENS*/
@media only screen and (max-width: 750px){
/* HEADER SECTION */
header{
    position: relative;
}
  
header .logo{
    margin-left: .7em;
}

header .logo-text{
    font-size: 1.9rem;
}

header ul{
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    display: none;
    background: #DAD2BC;
    z-index: 100;
}

header ul.active{
    display: block;
}

header ul li{
    width: 100%;
    float: none;
}

header ul li a:hover{
    transition: all 0.1s ease;;
    transform: none;
    color: #a99985d8;
}

header ul li:hover ul{
    display: none;
}

}

/* HERO SECTION */
.hero{
    display: flex;            
    justify-content: space-between;
    align-items: center;    
    min-height: 80vh; 
    padding: 10px;
}

.hero-text{
    width: 60%;
    height: 400px;
    padding: 10px;
    line-height: 1.5;
}

.hero-text h2{
    font-size: 6.7rem;
    text-align:center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #A99985;
}

.hero-text h3{
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.hero-text h4{
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 50px;
}

.hero-image{
    width: 40%;
    display: flex;
    align-items: center;
    height: auto;
}

.hero-image img{
    width: 100%;
}